body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;

}

header {
    background:#ebebeb;
    margin: 10px;
    height: 100px;
    width: 960px;
    font-size: 40px;
    font-weight: 700;


}

nav {
    background: #ebebeb;
    margin: 10px;
    height: 100px;
    width: 960px;
    font-size: 20px;
}

Section {
    background: #ebebeb;
    width:495px;
    height: 550px;
    float: left;
    
    

}


Aside {
    background: #ebebeb;
    width: 495px;
    height: 550px;
    float: right;


}


article {
    color: #ebebeb;
    background: #777;
    
}

h1 {
    color: #777;
    background: #ebebeb;
    font-size: 14px;
    position: relative;

}




p {
    color: #777;
    background: #ebebeb
}

footer {
    background: #ebebeb;
    float: bottom;
    width: 960;
    right: 0;
    bottom: 0;
    clear: both;

}